﻿  <table class="table table-striped table-condensed">
      <thead style="display: table-header-group;">
          <tr>
              <th>{{t "Ehdotustili" }}</th>
              <th>{{t "Selite" }}</th>
              <th class="right">{{t "Summa" }}</th>
          </tr>
      </thead>
      <tbody>
          {{#each report.ledgerAccounts }}
          <tr>
              <td>{{accountNumber }}</td>
              <td>{{accountName}}</td>
              <td class="right">{{c saldo }}</td>
          </tr>
          {{/each}}

          <tr>
              <td colspan="3">&nbsp;</td>
          </tr>
          <tr>
              <td></td>
              <td><b>Lisätiedot</b></td>
              <td class="right"></td>
          </tr>
          <tr>
              <td></td>
              <td>Ennakonpidätykset</td>
              <td class="right">{{c report.summary.workerCalc.tax }}</td>
          </tr>
          <tr>
              <td></td>
              <td>Maksettu työntekijöille</td>
              <td class="right">{{c report.summary.workerCalc.totalWorkerPayment }}</td>
          </tr>
      </tbody>
  </table>
