﻿<p>&nbsp;</p> 
<table>
    <tr>
        <td>{{t "Nimi"}}:</td>
        <td><strong>{{report.employer.firstName}} {{report.employer.lastName}}</strong></td>
    </tr>
    <tr>
        <td>{{t "Y-tunnus"}}:</td>
        <td>{{report.businessId}}</td>
    </tr>
    <tr>
        <td>{{t "Sähköposti"}}:</td>
        <td>{{report.contact.email}}</td>
    </tr>
</table>
<p>&nbsp;</p>