{{#if report.header.worker.avatar.firstName }}
    <div>
        <div class="uppercase">{{ report.header.worker.avatar.sortableName }}</div>
        {{ report.header.worker.contact.street }}<br />
        {{ report.header.worker.contact.postalCode }} {{ report.header.worker.contact.city }}
    </div>
{{else}}
    <p>{{t "SALAXY.REPORTS.salary.text.noWorkerDetails" }}</p>
{{/if}}
<br/>
{{#if report.header.employer.avatar.firstName }}
    <div class="margin-top">
        <b>{{t "SALAXY.REPORTS.salary.heading.employer" }}:</b>
        <div class="uppercase">{{ report.header.employer.avatar.sortableName }}</div>
        {{ report.header.employer.contact.street }}<br />
        {{ report.header.employer.contact.postalCode }} {{ report.header.employer.contact.city }}
    </div>
{{else}}
    <p>{{t "SALAXY.REPORTS.salary.text.noEmployerDetails" }}</p>
{{/if}}