<table class="report-table-compact">
    <tr>
        <td>{{t "SALAXY.REPORTS.salary.heading.worker" }}:</td>
        <td>{{ report.header.worker.avatar.sortableName }}</td>
    </tr>
    <tr>
        <td>{{t "SALAXY.REPORTS.salary.heading.socialSecurityNumber" }}:</td>
        <td>{{ report.header.worker.socialSecurityNumberValid }}</td>
    </tr>
    <tr>
        <td>{{t "SALAXY.REPORTS.salary.heading.bankAccountNumber" }}:</td>
        <td>{{ report.header.worker.ibanNumber }}</td>
    </tr>
    <tr>
        <td>{{t "SALAXY.REPORTS.salary.heading.paidAt" }}:</td>
        <td>{{#if report.header.paidAt }}{{d report.header.paidAt }}{{else}}-{{/if}}</td>
    </tr>
    <tr>
        <td>{{#if report.header.requestedSalaryDate }}{{t "SALAXY.REPORTS.salary.heading.requestedSalaryDate" }}{{else}}{{t "SALAXY.REPORTS.salary.heading.salaryDate" }}{{/if}}:</td>
        <td>{{#if report.header.salaryDate }}{{d report.header.salaryDate }}{{else}}-{{/if}}</td>
    </tr>
    <tr>
        <td>{{t "SALAXY.REPORTS.salary.heading.workPeriod" }}:</td>
        <td>{{d report.header.workStartDate end=report.header.workEndDate }}</td>
    </tr>
    <tr>
        <td>{{t "SALAXY.REPORTS.salary.heading.numberOfWorkDays" }}:</td>
        <td>{{ report.header.numberOfDays }}</td>
    </tr>
    <tr>
        <td>
            {{t "SALAXY.REPORTS.salary.heading.withholdingTax" }}:
        </td>
        <td>
            {{#if report.header.workerHasNoTaxcard }}
            <span>{{t "SALAXY.REPORTS.salary.text.noTaxcard" }}</span>
            {{else}}
            <span>{{p report.header.taxPercent }}</span>
            {{#if report.header.taxcardTaxPercent }}<br /><span>{{t "SALAXY.REPORTS.salary.heading.taxcardTaxPercent"}} {{p report.header.taxcardTaxPercent }}</span>{{/if}}
            {{#if report.header.taxcardTaxPercent2 }}<br /><span>{{t "SALAXY.REPORTS.salary.heading.taxcardTaxPercent2"}} {{p report.header.taxcardTaxPercent2 }}</span>{{/if}}
             {{/if}}
        </td>
    </tr>
    {{#if report.header.workDescription }}
    <tr>
        <td>{{t "SALAXY.REPORTS.salary.heading.workDescription" }}:</td>
        <td>{{report.header.workDescription}}</td>
    </tr>
    {{/if}}
</table>