<div class="document {{ reportTask.layout }}" {{#if reportTask.isModeHtmlPage}}style="height:auto;min-height:{{#if reportTask.isLayoutA4Portrait}}277mm{{else}}190mm{{/if}}"{{/if}}>
    {{#if reportTask.isPreview}}
    <div class="watermark">{{t "SALAXY.REPORTS.document.preview"}}</div>
    {{/if}}
    {{#if reportTask.isModeHtmlPage}}
    <header class="header" style="border-bottom: {{reportTask.branding.borderStyle}}">
        <table>
            <tr>
                <td width="40%">
                    {{#if reportTask.branding.cdnLogoUrl}}
                    <img class="logo" src="{{reportTask.branding.cdnLogoUrl}}" style="{{reportTask.branding.logoStyle}}" alt="Logo" />
                    {{else}}
                    <div class="logo reportbrandlogo"></div>
                    {{/if}}
                </td>
                <td width="60%">
                    <h1 class="report-header-txt uppercase bold-txt">{{ reportTask.title }}</h1>
                    <p class="report-header-txt uppercase bold-txt">{{ reportTask.subTitle }}</p>
                </td>
            </tr>
        </table>
    </header>
    {{/if}}
    <div class="document-body">
        {{> @partial-block }}
    </div>
    {{#if reportTask.isModeHtmlPage}}
    <footer class="footer" style="border-top: {{reportTask.branding.borderStyle}}">{{t "SALAXY.REPORTS.document.footerInfo.html" date=reportTask.date }}</footer>
    {{/if}}
</div>
        