
<div class="additional-message pre-line">{{ report.header.salarySlipMessage }}</div>
{{#each report.rowGroups}}
{{#if hasRows}}

<table class="salaxy-accounting-report-table report-table columns-four">
    <thead style="display: table-header-group;">
     
        <tr>
            <th><h3>{{t groupingTerm}}</h3></th>
            {{#if isDeductions }}
            <th>{{t "SALAXY.REPORTS.salary.heading.percentOf" }}</th>
            <th>{{t "SALAXY.REPORTS.salary.heading.fromSum" }}</th>
            <th>{{t "SALAXY.REPORTS.salary.heading.euros" }}</th>
            {{else if isTotals }}
            <th></th>
            <th></th>
            <th>{{t "SALAXY.REPORTS.salary.heading.euros" }}</th>
            {{else}}
            <th>{{t "SALAXY.REPORTS.salary.heading.amount" }}</th>
            <th>{{t "SALAXY.REPORTS.salary.heading.aPrice" }}</th>
            <th>{{t "SALAXY.REPORTS.salary.heading.euros" }}</th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
        {{#each rows }}
        <tr>
            <td>{{t data.irRow.message }}</td>
            {{#if ../isDeductions }}
              {{#if data.isUnitPercent }}
              <td>{{p data.irRow.count }}</td>
              <td>{{c data.irRow.price }}</td>
              {{else }}
              <td></td>
              <td></td>
              {{/if}}
            {{else if ../isTotals }}
              <td></td>
              <td></td>
            {{else}}
              {{#if data.isUnitPercent }}
                <td>{{p data.irRow.count nullChar=' '}}</td>
                {{else}}
                <td>{{data.irRow.count}}</td>
                {{/if}}
              <td>{{c data.irRow.price}}</td>
            {{/if}}
            {{#if data.isTotalReduced}}
            <td>
                <span style="text-decoration: line-through">{{c data.fullTotal }}</span><br />
                {{c data.irRow.total }}
            </td>
            {{else}}
            <td>{{c data.irRow.total }}</td>
            {{/if}}
        </tr>
        {{#if data.comment}}
        <tr colspan="4"><td style="padding-left: 10px;font-size: 0.8em">{{t data.comment}}</td></tr>
        {{/if}}
        {{/each}}
        {{#unless isTotals}}
        <tr class="total">
            <td>{{t totalTerm }}</td>
            <td></td>
            <td></td>
            <td>{{c total }}</td>
        </tr>
        {{/unless}}
    </tbody>
    {{#if isTotals}}
    <tfoot>
        <tr class="total">
            <th>{{t "SALAXY.REPORTS.salary.heading.toBePaid" }}</th>
            <th></th>
            <th></th>
            <th>{{c total }}</th>
        </tr>
    </tfoot>
    {{/if}}
</table>

{{/if}}
{{/each}}