{{#if report.hasValidationMessages }}
<h3>{{t "SALAXY.REPORTS.salary.heading.insufficientSalary" }}</h3>
<ul>
{{#each report.validationMessages }}
    <li>
        {{t text parameters }}
    </li>
{{/each}}
</ul>
{{/if}}

